### 个性化电商推荐

## EDA

In [22]:
import pandas as pd
import numpy as np
import pyspark
import os 
from pyspark import SparkConf
from pyspark.sql import SparkSession

In [23]:
# SPARK_APP_NAME = "Recomend goods"
# # SPARK_URL = 'spark://10.202.144.72:7070'
# config = (
#     ("spark.app.name", SPARK_APP_NAME),
#     ("spark.executor.memory", "4g"), # 设置该app启动时所占用的内存，默认1g
# #     ("spark.master", SPARK_URL),
#     ("spark.executor.cores", "1"), # 设置spark executor使用的CPU核心数
# )
# conf = SparkConf()
# conf.setAll(config)
spark = SparkSession.builder.appName("ceshi").getOrCreate()

Py4JJavaError: An error occurred while calling None.org.apache.spark.api.java.JavaSparkContext.
: java.lang.NullPointerException
	at org.apache.spark.SparkContext.<init>(SparkContext.scala:608)
	at org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance(Constructor.java:423)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

In [9]:
# reads  = pd.read_csv("./data/behavior_log.csv", chunksize=100, iterator=True)
# for i, read in enumerate(reads):
# #     if os.path.exist()
#     if i == 0:
#         read.to_csv("./data/small_behavior.csv", index=False)
#     elif i<1000:
# #         df = pd.read_csv("./data/small_behavior.csv")
#         read.to_csv("./data/small_behavior.csv", mode="a", index=False, header=False)
#     else:
#         break

In [ ]:
df = pd.read_csv("./data/small_behavior.csv")
df.info()

In [11]:
adf = pd.read_csv("./data/ad_feature.csv")
adf.head()

   adgroup_id  cate_id  campaign_id  customer     brand   price
0       63133     6406        83237         1   95471.0  170.00
1      313401     6406        83237         1   87331.0  199.00
2      248909      392        83237         1   32233.0   38.00
3      208458      392        83237         1  174374.0  139.00
4      110847     7211       135256         2  145952.0   32.99

In [12]:
adf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 846811 entries, 0 to 846810
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   adgroup_id   846811 non-null  int64
 1   cate_id      846811 non-null  int64
 2   campaign_id  846811 non-null  int64
 3   customer     846811 non-null  int64
 4   brand        600481 non-null  float64
 5   price        846811 non-null  float64
dtypes: float64(2), int64(4)
memory usage: 38.8 MB

In [13]:
upf = pd.read_csv("./data/user_profile.csv")
upf.head()

,userid,cms_segid,cms_group_id,final_gender_code,age_level,pvalue_level,shopping_level,occupation,new_user_class_level
0,234,0,5,2,5,NaN,3,0,3.0
1,523,5,2,2,2,1.0,3,1,2.0
2,612,0,8,1,2,2.0,3,0,NaN
3,1670,0,4,2,4,NaN,1,0,NaN
4,2545,0,10,1,4,NaN,3,0,NaN

In [14]:
upf.head()

,userid,cms_segid,cms_group_id,final_gender_code,age_level,pvalue_level,shopping_level,occupation,new_user_class_level
0,234,0,5,2,5,NaN,3,0,3.0
1,523,5,2,2,2,1.0,3,1,2.0
2,612,0,8,1,2,2.0,3,0,NaN
3,1670,0,4,2,4,NaN,1,0,NaN
4,2545,0,10,1,4,NaN,3,0,NaN